<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <section class="vh-100" style="background-color: #20c997">
        <div class="container py-5 h-100">
      
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">
      
              <h3 class="mb-4 pb-2 fw-normal">Check the weather forecast</h3>
      
              <form class="input-group rounded mb-3" action="/weather" method="get">
                <input type="search" class="form-control rounded" placeholder="City" aria-label="Search"
                  aria-describedby="search-addon" name="location" id="location" required/>
                <button type="submit" class="btn btn-primary">Check!</button>
              </form>
              <div class="card shadow-0 border">
                <div class="card-body p-4">
      
                  <h4 class="mb-1 sfw-normal">{{ location_name }}</h4>
                  <p class="mb-2">Current temperature: <strong>{{ temp_c }}°C</strong></p>
                  <p>Feels like: <strong>{{ feelslike_c }}°C</strong></p>
                  <p>Humidity: <strong>{{ humidity }}%</strong>, UV: <strong>{{ uv }}</strong></p>
      
                  <div class="d-flex flex-row align-items-center">
                    <p class="mb-0 me-4">{{ condition }}</p>
                    <img src="{{ img }}" class="rounded mx-auto d-block" alt="">
                  </div>
      
                </div>
              </div>
      
            </div>
          </div>
      
        </div>
      </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>